{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rental System">
    <meta name="author" content="Abhishek Karki">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Rental System {% block title %}{% endblock %}</title>

    <!-- Favicons -->
    <link rel="icon" href="{% static 'img/homev3.png' %}" sizes="16x16" type="image/jpg">    

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"\>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>
  <body>
   
{% include 'components/header.html' %}
<main role="main">

  

  {% block content %}{% endblock %}

</main>

{% include 'components/footer.html' %}
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% block js %}{% endblock %}

</body>
</html>
