{% extends 'base.html' %}

{% block title %}
    | Home
{% endblock %}

{% block content %}
{% include 'components/alert.html' %}
<!-- {% for d in data %}
   <b>Name:</b> {{ d.name }}<br>
{% endfor %}   -->
<section class="jumbotron text-center">
  <div class="container">
    <h1>Available Apartments and Houses</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
    <p>
      <a href="{% url 'property_create' %}" class="btn btn-primary my-2">Create Property</a>
      
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for property in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            {% if property.picture %}
              <img src="{{ property.picture.url }}" alt="Property Picture" width="100%" height="225">
            {% else %}  
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            {% endif %}
            <div class="card-body">
              <p><b>{{ property.title }}</b></p>
              <p class="card-text">{{ property.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'property_detail' property.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <a href="{% url 'property_update' property.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                </div>
                <small class="text-muted">{{ property.date_created|timesince }}</small>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
  {% endblock %}