{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container" style="width:50%;">
    {{ object.title }}

    <a href="{% url 'property_delete' object.pk %}"><button class="btn btn-danger">Delete</button></a>

    {% if object.picture %}
    <img src="{{ object.picture.url }}" alt="" width="100%" height="500">
    {% endif %}
</div>

{% endblock %}


