{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container" style="width:50%;">
  <br><h2>Create a New Property</h2><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{  form.title|as_crispy_field }}
        {{  form.description|as_crispy_field }}
        {{  form.location|as_crispy_field }}
        {{  form.area|as_crispy_field }}
        {{  form.price|as_crispy_field }}
        {{  form.picture|as_crispy_field }}
        {{  form.property_type|as_crispy_field }}
        
        <input type="hidden" name="reg_agent" value="{{ user.id }}" >
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>  
    </div>
    </form> 
  </div>

{% endblock %}


