{% load static%}
<!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Rental System">
        <meta name="author" content="Abhishek Karki">
        <meta name="generator" content="Jekyll v3.8.6">
        <title>Rental System | Login</title>
    
        <!-- Favicons -->
        <link rel="icon" href="{% static 'img/homev3.png' %}" sizes="16x16" type="image/png">    
    
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"\>
    
        <!-- Custom styles for this template -->
        <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">


    
    
  </head>
  <body>
    <form class="form-signin" method="POST">
      {% csrf_token %}
  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'img/homev3.png' %}" alt="" width="110" height="110">
    <h1 class="h3 mb-3 font-weight-normal">Rental System</h1>
   
  </div>

  <div class="form-label-group">
    <input type="text" id="id_username" name = "username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputUsername">Username</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="mb-3">
    {% if form.errors %}
      <p class="text-danger">Username and Password doesn't match.</p>
    {% endif %}
  </div>

  <p>Not Registered?<a href="{% url 'signup' %}">SignUp</a></p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 Techaxis</p>
</form>
</body>
</html>
